*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.navbar{
    display: flex;
    padding-top: 40px;
    padding-bottom: 15px;
    border: 1px solid red;
}

  .top-menu{
    display: flex;
    gap: 50px;
  }