*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.navbar{
    display: flex;
    padding-top: 40px;
    padding-bottom: 15px;
    border: 1px solid red;
}

  .top-menu{
    display: flex;
    gap: 50px;
  }

  .main-components{
    display: flex;
    background-color: aqua;
    height: 800px;
    padding-top: 30px;
  }

  .left-side{
    width: 65%;
    height: auto;
    padding-right: 20%;

  }

  .right-side{
    width: 35%;
  }